<div id="zooContainer">
   <h1>The Zoo.</h1>

<%= will_paginate %>

  <% @users.each do |user| %>
    <div id="zooBox" class="round">

       <% if current_user.admin? %>
       <div id="adminOptions" class="round">
	 <%= link_to "x", user, :method => :delete, 
	 :confirm => "You sure?", :title => "Delete #{user.name}" %>
       </div>
       <% end %>

       <div id="zooBoxAvatar">
          <img src="../images/avatars/<%= user.avatar %>_<%= user.mood %>.png" 
          alt="Avatar: <%= user.avatar %>, Mood: <%= user.mood %>" height=64 width=64>
       </div>
       <div id="zooBoxUserInfo">
          <%= link_to user.name, user %><br>
          <h2><%= user.email %></h2>
          <p>Currently&nbsp<strong><%= user.mood %></strong></p>
       </div>
    </div>
  <% end %>

<%= will_paginate %>
</div>
