<div id="profileContainer">
     <div id="currentStatus">
     <h1>This is <%= @user.name %>.</h1>
       <div id="avatar"> 
	 <img src="../images/avatars/<%= @user.avatar %>_<%= @user.mood %>.png" 
              alt="Avatar: <%= @user.avatar %>, Mood: <%= @user.mood %>">
       </div>
       <div id="mood">
	 <h2>
	 <% if @user.microposts.empty? %>
	 Feeling
	 <% else %>
	      <% if @user.name == @user.microposts.first.author %>
	      Feeling
	      <% else %>
	      Apparently
	      <% end %>
	 <% end %>
	 <strong><%= @user.mood %></strong></h2>
         <% unless @user.microposts.empty? %>
         <h3><%= @user.microposts.first.content %></h3><br>
         <span>Posted <%= time_ago_in_words(@user.microposts.first.created_at) %> ago by <%= @user.microposts.first.author %>.</span>
	 <% end %>
       </div>
     </div>
     <div id="snitch" class="round">
       <%= form_for @micropost do |f| %>
       <%= render 'shared/error_messages', :object => f.object %>

       <div class="field">
	 <%= f.hidden_field :author, :value => current_user.name %>
	 <%= f.hidden_field :belongs_to_id, :value => @user.id %>
	 <%= f.hidden_field :agree, :value => "0" %>
	 <%= f.hidden_field :disagree, :value => "0" %>
	 <%= f.hidden_field :amused, :value => "0" %>
       </div>

       <div class="field">
	<strong><%= @user.name %></strong> is feeling
	 <%= f.select :mood, User::MOODS %>
	 because
	 <%= f.text_field :content %> <span>(75 characters max.)</span>
	 <%= f.submit "Snitch!" %>
       </div>
       <% end %>
     </div>

   <div id="micropostsListing">
     <% unless @user.microposts.empty? %>
     <%= render @microposts %>
     <%= will_paginate @microposts %>
     <% end %>
   </div>

   <div id="spacerDiv"></div>
   <div id="toggleMoodHistoryButton" class="round">
     <a href="javascript:animatedcollapse.toggle('micropostsListing')">View mood history</a>
   </div>
   <div id="toggleUserInfoButton" class="round">
     <a href="javascript:animatedcollapse.toggle('userInfo')">View user info</a>
   </div>

   <div id="userInfo" class="round">
     <div id="userDetails">
     <div id="contactInfo" class="round">
       <strong>Nickname</strong> <%= @user.name %><br>
       <strong>Country</strong> <%= @user.country %><br>
       <strong>E-mail</strong> <%= @user.email %><br>
     </div>
     <div id="followInfo" class="round">
       <a href="<%= following_user_path(@user) %>">Following <%= @user.following.count %></a> |
       <a href="<%= followers_user_path(@user) %>">Followed by <%= @user.followers.count %></a>
       <div id="followForm"><%= render 'follow_form' %></div>
     </div>
     </div>
     <div id="userRelationships">
       <% unless @friends.empty? %>
        <% @friends.last(12).each do |user| %>
	<div id="smallZooBox" class="round">
	    <div id="smallZooBoxAvatar">
	      <img src="../images/avatars/<%= user.avatar %>_<%= user.mood %>.png" 
		   alt="Avatar: <%= user.avatar %>, Mood: <%= user.mood %>" height=40 width=40>
	    </div>
	    <div id="smallZooBoxUserInfo">
              <%= link_to user.name, user %>
	    </div>
	</div>
        <% end %>
      <% end %>
     </div>
   </div>
</div>
