<div id="zooContainer">
  <% if @title == "Following" %>
  <h1>Who's <%= @user.name %> following?</h1>
  <% else %>
  <h1>Who's following <%= @user.name %>?</h1>
  <% end %>  

<%= will_paginate %>

  <% @users.each do |user| %>
    <div id="zooBox" class="round">
       <div id="zooBoxAvatar">
          <img src="/images/avatars/<%= user.avatar %>_<%= user.mood %>.png" 
          alt="Avatar: <%= user.avatar %>, Mood: <%= user.mood %>" height=64 width=64>
       </div>
       <div id="zooBoxUserInfo">
          <%= link_to user.name, user %><br>
          <h2><%= user.email %></h2>
          <p>Currently&nbsp<strong><%= user.mood %></strong></p>
       </div>
    </div>
  <% end %>

<%= will_paginate %>
</div>
