<div id="applicationSection" class="round">
<section class="round">
     <% flash.each do |key, value| %>
     <p class="notice"><%= notice %></p> 
     <p class="alert"><%= alert %></p> 
          <div class="flash <%= key %>"><%= value %></div>
     <% end %>
     <%= yield %>
</section>
</div>
