<div class="cloudLayer">
      <div class="topLine"></div>
      <div class="header">
          <%= link_to logo, root_path %>
          <nav class="round">
             <ul>
	     <% if user_signed_in? %>
             <span>Signed in as <strong><%= current_user.name %></strong></span>
             <li><%= link_to "My Muudle", current_user %></li>
             <li><%= link_to "The Zoo", users_path %></li>
             <li><%= link_to "Settings", edit_user_registration_path %></li>
             <li><%= link_to "Sign out", destroy_user_session_path %></li>
	     <% else %>
             <li><%= link_to "What is Muudle?", about_path %></li>
             <li><%= link_to "Sign in", new_user_session_path %></li>
             <li><%= link_to "Sign up!", new_user_registration_path %></li>
             <% end %>
             </ul>
          </nav>
     </div>
</div>
