<div id="rightColumn">
<div id="rightColumnTop" class="round">
    <div id="rightColumnTopContent">
         <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <h2>
  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>
  </h2>
  <p><%= f.submit "Sign in" %></p>
<% end %>
	 <p>New user? Join the fun! <%= link_to "Sign up now!", new_user_registration_path %></p>
    </div>   
</div>
<div id="rightColumnBottom" class="round">
    <div id="rightColumnBottomContent">
         <h1>How are you?</h1>
         <p>
         It is the first thing you want to know in a real-life conversation.<br><br>
         Imagine knowing how everyone in your life is feeling, at a glance.
         </p>
         <h2>Go Muudle!</h2>
         <h1>Feelings, honest.</h1>
         <p>
         You vote on your friends' moods as well as your own. (And they vote on yours...)<br><br>
         It's crowdsourced truth. For feelings.
         </p>
         <h2>Vote Muudle!</h2>
    </div>   
</div>
</div>
