<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'scripts/collapsibleDivs' %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
  <div id="whiteBackground">
    <%= render 'layouts/cloudLayer' %>
    <div class="container">
        <%= render 'layouts/applicationContent' %> 
    </div>
  </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
