<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
  <div id="whiteBackground">
    <%= render 'layouts/cloudLayer' %>
    <div class="container">
      <%= render 'layouts/mainImage' %>
      <%= render 'layouts/rightColumn' %>  
      <%= render 'layouts/frontPageContent' %>
    </div>
  </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
